<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <title>READ USERS</title>
</head>
<body class="bg-blue-200">
  <div class="w-full h-full m-10  text-red-900 bg-zinc-red">
    <a class="text-2xl text-blue-900" href="/">Back To Home</a>
  <h1 class="text-2xl text-blue-900 tracking-tighter mb-3">All Users</h1>
  <div class="users flex flex-wrap gap-5">
     <% users.forEach((user)=>{ %>
     <div class="user w-72 p-4 bg-zinc-800 rounded-md">
       <div class="w-full h-65 rounded-lg bg-red-300">
        <img src="<%= user.image%>" class="w-full h-full overflow-hidden object-center" alt="<%= user.name%>">
       </div>
       <h3 class="text-xl text-white tracking-tighter"><%= user.name%></h3>
       <h4 class="text-zinc-500"><%= user.email%></h4>
       <div class="flex gap-3 mt-10">
        <a class="text-zinc-300 " href="">Edit User</a>
        <a class="text-red-600 " href="/delete/<%= user._id%>">Delete User</a>
       </div>
    </div>
   <%})%>
  </div>


  </div>
</body>
</html>